/*--------------------------------------

START UP
--------------------------------------*/



html, body{

    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;

}

/*----------------------------------

          FOOTER

----------------------------------*/

.wrapper{

    min-height: 100%;
    margin-bottom: -50px;
}


#footer,
.push{

height: 50%;

}
.button-container {
    text-align: right; /* Align buttons to the right */
    margin-top: 10px; /* Add some top margin for spacing */
}

.btn {
    margin-left: 5px; /* Add spacing between buttons */
}